DATABASE_URL="postgresql://user:password@localhost:5432/databasesslmode=require"
JWT_SECRET="tu_secreto"
PORT=3000

RESEND_API_KEY=tu_api_key
MAIL_FROM=tu_usuario@gmail.com # o <onboarding@resend.com>

FRONTEND_URL=http://localhost:5173 # cambia esto al dominio de tu frontend