DATABASE_URL="postgresql://user:password@localhost:5432/databasesslmode=require"
JWT_SECRET="tu_secreto"
PORT=3000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=2525 # puede ser 465 para SSL, recomendado el 587
MAIL_USER=tu_usuario@gmail.com 
MAIL_PASS=tu_clave # contraseña de APLICACION, no de cuenta

FRONTEND_URL=http://localhost:5173 # cambia esto al dominio de tu frontend